<template id="about">
  <h1 class="mt-3">About us</h1>
  <div class="row mt-3">
    <div class="col-12">
      <h6>This application was created for demo purposes by <a href="https://www.linkedin.com/in/azsoh/" target="_blank">Sohaieb Azaiez</a> .</h6>
    </div>
    <div class="col-12">
      <p class="mt-1">It's about how to implement an application with <b>TypeScript</b> from scratch basing on a custom architecture and implementing Known Patterns like <b>Module</b>, <b>Singleton</b> etc.</p>
      <p class="mt-1">Also, front part is bundled with <b>Webpack</b> and transpiled with <b>Babel and coreJs</b> to support old browsers.
        <b>Bootstrap</b> is included as a css framework to design pages and different visual components.</p>
      <p class="mt-1">The backend part was created with <b>NodeJs</b> based on <b>MongoDB driver</b> as a database, <b>expressJs</b> for routing and performing request/response server processing, and <b>BrainJS</b> for AI implementation to make a Machine Learning who learn from given dataset.</p>
      <p class="mt-1">If you have any question or you want to support me, you can follow me through <a href="https://www.linkedin.com/in/azsoh/" target="_blank"> my LinkedIn Profil</a> and/or <a href="https://github.com/sohaieb" target="_blank"> my GitHub Profil</a>.</p>
      <h5>Enjoy!</h5>
    </div>
  </div>
</template>